*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:#edf2fc;
  --secondary-color:#212121;
}
.dark-mode{
  --primary-color:#212121;
  --secondary-color:#edf2fc;
}
.hero{
  background-color: var(--primary-color);
 color:var(--secondary-color);
}

.nav-item.vertical-line {
    border-left: 1px solid #e0dede; 
    height: 5rem;
    margin: 0 10px; 
  }

  .logo-img {
    max-width: 100px; 
    height: auto;
  }

.lets-ride{
    font-size: 64px;
}
.nav-link {
  color:var(--secondary-color) !important; 
}
